:root{
    --primaryColor:#D0FD3E;
    --grayColor:gray;
}


*,*::before,::after,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 500;
}

.app-wrapper{
    max-width: 520px;
    margin: auto;
    padding-bottom: 88px;
    background: #1C1C1E;
    height: 100%;
    min-height: 100vh;
    position: relative;
}



/* ----------------------- start reset -----------------------  */

button{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-weight: 900;
}

.swiper{
    cursor: grab;
}

/* ----------------------- end  reset -----------------------  */



/* ----------------------- start  Components -----------------------  */

.go{
    color: #000;
    background: var(--primaryColor);
    height: 50px;
    width: 120px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-size: 17px;
    font-weight: 700;
    padding: 13px 20px;
}

.test-steps{
    padding: 80px 34px 44px;
}

.intro{
    max-width: 302px;
    margin: auto;
    text-transform: uppercase;
}

.intro h1{
    font-size: 1.20rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 12px;
}

.intro p{
    font-size: .86rem;
    line-height: 25px;
    text-align: center;
}

.visit-pages{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 44px 41px 44px 31px;

    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    background: #1C1C1E;
}

.back{
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--grayColor);
    border-radius: 50%;
    overflow: hidden;
}

/* ----------------------- end  Components -----------------------  */

